<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h2>Mongooses</h2>
  <form action="/mongooses/new" method="POST">
    <input type="submit" value="New Mongoose">
  </form>
  <% if(mongooses){ %>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

      <% for(var m of mongooses) { %>
        <tr>
          <td><%= m._id %></td>
          <td><%= m.name%></td>
          <td>
            <a href="<%= m._id %>">Delete</a>
            edit
          </td>
        </tr>
      <% } %>
      </tbody>
    </table>
  <% } %>
</body>
</html>
